* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}
.grid-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: skyblue;
}

.my-img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.grid-section::after {
  content: "";
  width: 350px;
}
/* .flex-section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.flex-content {
  width: 500px;
  height: 500px;
  display: flex
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 200px;
  width: 200px;
  background-color: black;
}

.grid-item {
  grid-column: 1/span 2;
  grid-row: 1/3;
  background-color: green;
} */
